body {
  font-family: Arial, sans-serif;
}
.main {
  margin: 15px;
  padding: 0px 1em;
  border: 2px solid black;
  background-image: linear-gradient(LightSkyBlue, white);
}
.copyright {
  font-size: small;
  text-align: center;
}
