body {
  font-family: Arial, sans-serif;
}

form {
  text-align: center;
}

.main {
  margin: 15px;
  padding: 0px 1em;
  border: 2px solid black;
  background-image: linear-gradient(LightSkyBlue, white);
}
.copyright {
  font-size: 75%;
  text-align: center;
}
ul.item_menu {
  text-align: center;
}
ul.item_menu li {
  padding: 2px;
  font-size: 150%;
  margin: 0px 1em;
  display: inline;
}
ul.item_menu li a {
  color: black;
  text-decoration: none;
}

#shop_item_cpu {
  background-color: Tomato;
}
#shop_item_gpu {
  background-color: YellowGreen;
}
#shop_item_os {
  background-color: Aquamarine;
}
#shop_item_pc {
  background-color: LightSalmon;
}
